# **Python Basics**

In [ ]:
# The first Python output

print('Hello!')

Hello!

## Say 'Hello' to the world in Python
When learning a new programming language, it is customary to start with an "hello world" example. As simple as it is, this one line of code will ensure that we know how to print a string in output and how to execute code within cells in a notebook.

What version of Python are we using?

In [ ]:
# Check the Python Version

import sys
print(sys.version)

3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]

Make simple Calculations

In [ ]:
sum = 2 + 15
print(sum)

intDivision = 10 // 3
print(intDivision)

rest = 10 % 3
print(rest)

exp = 2 ** 3
print(exp)

result = (1 + 2) * 3
print(result)

17
3
1
8
9

## Types of objects in Python

Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).

In [ ]:
# Type of "Hello Python!"
type("Hello Python!")

str

In [ ]:
# Type of 12
type(12)

int

In [ ]:
# Print the type of -1
type(-1)

int

In [ ]:
# Type of 2.14
type(2.14)

float

In [ ]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# Convert 2 to a float
float(2)

2.0

In [ ]:
# Casting 1.1 to integer will result in loss of information
int(1.1)

1

In [ ]:
# Convert a string into an integer
int('1')

1

In [ ]:
# Convert a string into an integer with error
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [ ]:
# Convert an integer to a string
str(1)

'1'

In [ ]:
# Boolean. Type of True
type(True)

bool

In [ ]:
# Convert True to int
int(True)

1

In [ ]:
# Convert False to int
int(False)

0

In [ ]:
 int(3.99)

3

## Expressions and Variables

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [ ]:
# Addition operation expression
43 + 60 + 16 + 41

160

In [ ]:
# how many hours there are in 160 minutes?
160//60

2

In [ ]:
# Python follows well accepted mathematical conventions when evaluating mathematical expressions.
30 + 2 * 60

150

Just like with most programming languages, we can store values in variables, so we can use them later on.

In [ ]:
# Store value into variable
x = 43 + 60 + 16 + 41

In [ ]:
# Print out the value in variable
x

160

In [ ]:
# Use another variable to store the result of the operation between variable and value
y = x / 60
y

2.6666666666666665

It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

In [ ]:
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [ ]:
total_hours = total_min / 60 # Total length of albums in hours
total_hours

2.3666666666666667

In [ ]:
y = 2*x*2-3
y

637

In [ ]:
x=4

In [ ]:
x=x/2
x

2.0

String Operations

In [ ]:
# Assign string to variable

name = "Prico Tu"
name

'Prico Tu'

In [ ]:
# Print the first element in the string

print(name[0])

P

In [ ]:
# Print the element on index 6 in the string

print(name[6])

T

In [ ]:
# Find the length of string

len(name)

8

In [ ]:
# Take the slice on variable name with only index 0 to index 4

name[0:5]

'Prico'

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'PioT'

In [ ]:
# Concatenate two strings

statement = name + " is my nickname"
statement

'Prico Tu is my nickname'

In [ ]:
# Convert all the characters in string to upper case

print("before upper:", name)
after = name.upper()
print("After upper:", after)

before upper: Prico Tu
After upper: PRICO TU

In [ ]:
#Split the substring into list
split_string = (name.split())
split_string

['Prico', 'Tu']

In [ ]:
# String Interpolation

name = "Elson"
age = 54
print(f"My name is {name} and I am {age} years old.")

My name is Elson and I am 54 years old.

In [ ]:
# using % Operator

name = "Elson"
age = 54
print("My name is %s and I am %d years old." % (name, age))

My name is Elson and I am 54 years old.

In [ ]:
# F-strings are also able to evaluate expressions inside the curly braces, which can be very handy. For example:
x = 10
y = 20
print(f"The sum of x and y is {x+y}.")

The sum of x and y is 30.

# RegEx
In Python, RegEx (short for Regular Expression) is a tool for matching and handling strings.

This RegEx module provides several functions for working with regular expressions, including search, split, findall, and sub.

Python provides a built-in module called re, which allows you to work with regular expressions.

In [ ]:
# Import the re module
import re

In [ ]:
s1 = "Led Zeppelin IV is the best album"

# Define the pattern to search for
pattern = r"best"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

Regular expressions (RegEx) are patterns used to match and manipulate strings of text. There are several special sequences in RegEx that can be used to match specific characters or patterns.

Special Sequence	Meaning	Example

| Character | Description                                                  | Example                                         |
|-----------|--------------------------------------------------------------|-------------------------------------------------|
| `\d`      | Matches any digit character (0-9)                            | "123" matches `\d\d\d`                         |
| `\D`      | Matches any non-digit character                              | "hello" matches `\D\D\D\D\D`                     |
| `\w`      | Matches any word character (a-z, A-Z, 0-9, and _)             | "hello_world" matches `\w\w\w\w\w\w\w\w\w\w\w` |
| `\W`      | Matches any non-word character                               | "@#$%" matches `\W\W\W\W`                        |
| `\s`      | Matches any whitespace character (space, tab, newline, etc.) | "hello world" matches `\w\w\w\w\w\s\w\w\w\w\w` |
| `\S`      | Matches any non-whitespace character                         | "hello_world" matches `\S\S\S\S\S\S\S\S\S`      |
| `\b`      | Matches the boundary between a word and non-word character   | "cat" matches `\bcat\b` in "The cat sat on the mat" |
| `\B`      | Matches any position that is not a word boundary             | "cat" matches `\Bcat\B` in "category" but not in "The cat sat on the mat" |

In [ ]:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

In [ ]:
s2 = "Led Zeppelin IV is the best album of Led Zeppelin."


# Use the findall() function to find all occurrences of the "Led" in the string
result = re.findall("Led", s2)

# Print out the list of matched words
print(result)

['Led', 'Led']

In [ ]:
print("AB\nC\nDE")

AB
C
DE